<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izmena zadatka</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">

            <form action="{% url 'api_edit_zadatak' zadatak.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="tekst">Tekst zadatka</label>
                    <input type="text" name="tekst" class="form-control" value="{{ zadatak.tekst }}">
                    <small class="form-text text-muted">Ovde se unosi naslov zadatka.</small>
                </div>
                <div class="form-group">
                    <label for="opis">Opis zadatka</label>
                    <textarea name="opis" rows="5" class="form-control">{{ zadatak.opis }}</textarea><br>
                </div>
                <button type="submit" class="btn btn-primary">EDIT</button>
            </form>

        </div>
        <div class="col-sm">

        </div>
    </div>
</div>


</body>
</html>