<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zadatak</title>

</head>
<body>

{% if zadatak %}
    <h1>{{ zadatak.tekst }}</h1>
    <p>{{ zadatak.opis }}</p>
{% else %}
    <h1>Nema tog zadatka</h1>
{% endif %}

</body>
</html>