<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zadaci</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">


            {% if tasks %}
                <ul class="list-group cProductsList">

                    {% for t in tasks %}

                        <li class="list-group-item d-flex list-group-item-action list-group-item-secondary">
                            <p class="p-0 m-0 flex-grow-1">
                                <a href="{% url 'get_zadatak' t.id %}">{{ t.tekst }}</a>
                            </p>
                            <a class="btn btn-warning" href="{% url 'edit_zadatak' t.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_zadatak' t.id %}">Delete</a>
                        </li>


                    {% endfor %}
                </ul>
            {% else %}
                <p>Nema zadataka!</p>
            {% endif %}

           <a class="btn btn-primary" href="{% url 'add_zadatak' %}">ADD</a>

        </div>
        <div class="col-sm">

        </div>
    </div>
</div>


</body>
</html>